.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  height: 50px;
  background-color: #000133;
  color: #fc86aa;
  align-items: center;
  justify-content: center;
}
.header-title {
  margin: auto;
}

.icon {
  padding: 10px;
}
.icon:hover {
  cursor: pointer;
}
.container {
  display: flex;
  flex: 1;
}

.drawer {
  width: 0px;
  transition: width 0.7s;
  background: #d8dcd6;
}

.opened {
  width: 240px;
}

.main {
  flex: 1;
  background: #f7f5f5;
}
